@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Just+Another+Hand&display=swap");

:root {
    --Barley-White: #fff6cc;
    --Aqua-Squeeze: #e4f7f3;
    --Dark-Green-Blue: #125e50;
    --Light-Teal: #8fdfd1;
    --Normal-Text: #4e516c;
    --Heading-Color: #151b4a;
    --See-More: #ea5858;
    --Mikado-Yellow: #ffcc00;
    --Links: #4e516c;
}

.MoreQuestionsMainDiv {
    background-image: url("../../images/form_Background.png");
    padding: 5rem;
}

.MoreQuestuionsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MoreQuestuionsHeader h2 {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 55px;
    /* or 172% */
    text-align: center;
    letter-spacing: 0.02em;
    /* Heading colour */
    color: #151b4a;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.MoreQuestuionsHeader h2:nth-child(2) {
    margin-top: 0;
}

.MoreQuestuionsHeader p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    letter-spacing: 0.04em;
    color: #4e516c;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 41rem;
}

.MoreQuestionsForm {
    background: #ffff;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
}

.MoreQuestionsForm form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
}

.emailDiv {
    //   width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.emailDiv input {
    width: 42.5rem;
}

.MoreQuestionsForm h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    text-align: center;
    letter-spacing: 0.04em;
    /* Heading colour */
    color: #151b4a;
    margin-top: 0;
}

label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: left;
    letter-spacing: 0.04em;
    /* Paragraph colour */
    color: #4e516c;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0.5rem;
}

input {
    //   box-sizing: border-box;
    text-align: left !important;
    padding-left: 1rem;
    width: 301px;
    height: 45px;
    border: 1px solid #cac5c5;
    border-radius: 5px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;
    //   color: #b3b3b9;
}

.formField {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.formSubmitDiv button {
    cursor: pointer;
    width: 174px;
    height: 44px;
    background: #125e50;
    border-radius: 60px;

    /* Inside auto layout */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.03em;

    /* Light/Greyscale/White */

    color: #ffffff;
    border: none;
    text-align: center;
}

.formSubmitDiv p {
    text-align: center;
    letter-spacing: 0.03em;
    color: #4e516c;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.formSubmitDiv {
    margin-top: 3rem;
    display: block;
    width: 100%;
    text-align: center;
}